<!DOCTYPE html>
<html>
<head>
<title>HTML5 log in form</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>
<style>
  /*html{
  color: #666666;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
}*/
html { 
  color: #666666;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: url(/images/hotel/seaside-hotels.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wrapper-form{
  padding-top: 140px;
}

/* Form Module */
.form-module {
  position: relative;
  border:4px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(250,250,250,0.5);
  max-width: 320px;
  width: 100%;
  /*border-top: 10px solid #7aba3e;*/
  border-top: 10px solid #0066CC;
  border-bottom: 10px solid #0066CC;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.form-module .form {
  display: none;
  padding: 40px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  padding-top: 15px;
  margin: 0 0 20px;
  color: #0066CC;
  font-size: 17px;
  font-family:Arial, Helvetica, sans-serif;
  position: relative;
  line-height: 1;
}
.form-module h3{
  font-size:12px;
  font-family:Arial, Helvetica, sans-serif;
}
.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module input:focus {
  border: 1px solid #33b5e5;
  color: #333333;
}
.form-module button {
  border-radius: 5px;
  cursor: pointer;
  background: #7aba3e;
  width: 100%;
  border: 0;
  /*padding: 10px 15px;*/
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.form-module .login:hover {
  /*background: #178ab4;*/
  background-color: rgba(250,250,250,0.5);
}


</style>
<script src="/js/login/prefixfree.min.js"></script>

  <div class="wrapper-form">
    <!-- <div>
      <center><h1>Welcome to Harmony Hotel</h></center>
    </div> -->
    <div class="module form-module">
      <div class="toggle"><i class="fa fa-times fa-pencil"></i>
        <!-- <div class="tooltip">Click Me</div> -->
      </div>
      <div class="form">
         <center><img src="/images/hotel/The-Guest-House-Logo-small.png" width="190"></center>
         <h2>LOGIN</h2>
        <form method="post" action="/home/login">
          <%= text_field_tag :username,@username , placeholder:"Username " %>
           <%= password_field_tag :password , nil , placeholder:"Password" %>
            <span style="color:red;font-wieght:bold"> <%= @message %></span>
            
            <p class="submit">
                   <%= submit_tag("Login", class:" login btn btn-primary btn-block btn-large") %>
                    <!-- <input type="submit" name="commit" value="Login"> -->
                </p>
        </form>
      </div>
    </div>
  </div>

    <script src="/js/login/index.js"></script>
</body>

</html>